[client]
# 客户端来源数据的默认字符集
default-character-set=utf8mb4

[mysqld]
# 服务端默认字符集
character-set-server=utf8mb4
# 连接层默认字符集
collation-server=utf8mb4_unicode_ci
# 避免Mysql外部锁定，减少出错几率、增强稳定
skip_external_locking
# 系统时间设置
default_time_zone=+8:00
log_timestamps=SYSTEM
# 字符编码设置
character_set_server=utf8mb4
collation_server=utf8mb4_general_ci
# 表名存储在磁盘是小写的，但是比较的时候是不区分大小写
lower_case_table_names=1
# 最大连接数
max_connections=512
# 超时时间设置 28800->720
connect_timeout=30
wait_timeout=720
interactive_timeout=720
# 在MySQL暂时停止响应新请求之前的短时间内多少个请求可以被存在堆栈中,对于Linux系统推荐设置为小于512的整数,默认为50
back_log=128
# 用于索引的缓冲区大小，增加它可得到更好的索引处理性能。对于内存在4GB左右的服务器该参数可设置为256M或384M，默认为8M
key_buffer_size=8M
innodb_buffer_pool_size=64M
# 用来缓存空闲的线程，以至于不被销毁，如果线程缓存中的空闲线程，需要重新建立新连接，则会优先调用线程池中的缓存，很快就能响应连接请求。
thread_cache_size=32
# 4->16
max_allowed_packet=16M
# 30-60
net_read_timeout=60
# 60
net_write_timeout=60
# 开启慢查询记录
slow_query_log=1
long_query_time=1.00
#要解决远程访问问题
default-authentication-plugin=mysql_native_password

[mysql]
# 数据库默认字符集
default-character-set=utf8mb4
